 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <ul>
                    <font size="4">
                    <li>I'm Riddhish Ojha. I work as an Android developer by day and research about new
                    technologies in my field by night.</li>
                    <li>I blog about my research, tutorials that can help others like me, etc.. I like books that inspire and I love movies of all kinds. </li>
                    <li>My current expertise lies in Android app development and I have more than 5 years of experience in the same. </li>
                    <li>Current Technologies: Android, Java, REST, JSON, XML, SQLite, SOAP, Git, MySQL.</li>
                    <li>I'm a quick learner. I've handled projects written in unfamiliar technologies with help
                      from Google and Stackoverflow.</li>
                    <li>I've been a stress-buster for my clients handling their projects 24X7 in the past. </li>
                    <li>For more information about my projects, please check out <a href="files/RiddhishOjha.pdf" target="_blank" style="color:#2c3e50;"> my resume</a>.</li>
                    <li>Dormant Technologies: HTML, JavaScript, LAMP stack, NAS servers, mail servers, Apache and BASH. </li>
                    <li>I'm available for any freelancing / contractual / remote work opportunities.</li></font>
                  </ul>
                </div>


                    <!--<p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>
